@media (max-width: 1000px) {
    .header{
        width:80%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .logo h1{
          text-decoration: none;
          color: black;
          font-size: 40px;
      }
    .board_wrap {
        width: 100%;
        min-width: 500px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .board_list .date {
        width: 40%;
    }
    .board_list .top{
        border: 1px solid #444444;
    }
    .board_list .top tr{
        border: none;
    }
    .board_list .top th{
        border: none;
    }
    .board_list .num {
        text-indent: 5px;
    }
    .board_list .title {
        text-indent: 5px;
    }

    .board_list .top .writer {
        text-indent: 0;
    }
    .board_list .top .date {
        text-indent: 0;
    }

    .board_page a {
        width: 26px;
        height: 26px;
    }

    .board_page a.bt {
        padding-top: 7px;
    }
    
    .board_page a.num {
        padding-top: 6px;
    }

    .board_view .info dl {
        width: 50%;
        padding: 0;
    }

    .board_view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    .board_view .info dl::before {
        display: none;
    }

    .board_view .info dl dt,
    .board_view .info dl dd {
        font-size: 1.2rem;
    }

    .board_write .info dl {
        width: 49%;
    }

    .board_write .info dl:first-child {
        margin-right: 2%;
    }

    .board_write .title dt,
    .board_write .info dt {
        display: none;
    }

    .board_write .title dd,
    .board_write .info dd {
        width: 100%;
    }

    .board_write .title input[type="text"],
    .board_write .info input[type="text"] {
        width: 100%;
        border-width: 0.5px;
        border-style: solid;
    }

    .board_write .cont{
        border-width: 0.5px;
        border-style: solid;
    }
    .board_list tbody tr td{
        border: none;
        font-size: 20px;
    }
}